# 1. For Loop

### Looping Through List
Using a for loop to iterate through a list will allow you to perform code on each element within the list

##### Examples:
```
for x in [0, 1, 2, 3, 4]:
    print(x)


for x in myList:
    print(x)
```

### EXERCISE: List Squared by Value
Can you print the squared value for each element in the list?

myList = [1, 2, 3, 4, 5]

### EXERCISE: Calculating Gratuity
Can you calculate the amount of tip to leave for each bill using 18%?

bills = [102.24, 20.54, 15.20, 40.65, 78.93]

### Looping Using Index
Looping using index values allow you to reference a location in a list instead of its value

```
for x in range(5):
    print(myList[x])


for x in range(len(myList)):
    print(myList[x])
```

### EXERCISE: List Squared
Can you print the squared value for each element in the list using its index?

myList = [1, 2, 3, 4, 5]

### EXERCISE: Calculating Gratuity
Can you calculate the amount of tip to leave for each bill using 18% by referencing the list's index values?

bills = [102.24, 20.54, 15.20, 40.65, 78.93]

### EXERCISE: Combining names
Can you print out the persons full name by looping through the lists?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

### EXERCISE: Summing Two Lists
Can you add the values of both lists by looping using its index?

list1 = [1, 2, 3, 4, 5]
<br>
list2 = [2, 4, 6, 8, 10]

### EXERCISE: Calculating Stock Value
Can you print the stock name and total amount invested (shares*price) in each stock?

stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
<br>
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
<br>
shares = [2, 1, 4, 6, 2]

### EXERCISE: Calculating Stock Value (Part II)
Using what you did in the previous exercise, can you calculate your total account value from your individual stocks?

stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
<br>
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
<br>
shares = [2, 1, 4, 6, 2]

### Creating New Lists using Looping
By using the list's append function, you can create new lists using a for loop

```
for x in range(5):
    myList.append(x)


for x in list1:
    list2.append(x**2)
```

### EXERCISE: Combining names
Can you create a new list of complete names by combing first and last names?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

### EXERCISE: Calculating Total Bill
Can you create a new list that stores the total bill amounts by adding the base cost with the tip amount?

bills = [12.55, 65.61, 20.53, 13.56, 40.65]
<br>
tips = [2.53, 12.65, 4.62, 4.25, 9.21]

### EXERCISE: Competition Scoring
Can you create a new list with the average score the judges gave each competitor in the coding competition?

judge1 = [3, 4, 5, 2, 3]
<br>
judge2 = [4, 2, 5, 1, 2]
<br>
judge3 = [5, 2, 4, 1, 1]
<br>
judge4 = [4, 3, 5, 1, 3]

# 2. While Loop

### Discrete Looping
Used to loop a predetermined amount of times

##### Examples:
```
i = 0
while i<10:
    print(i)
    i = i+1


i=10
while i>=0:
    print(i)
    i -= 1
```

### EXERCISE: Print a List
Can you print each value in the list using a while loop?

myList = [1, 2, 3, 4, 5]

### EXERCISE: Print a List in Reverse
Can you print each value in the list in reverse using a while loop?

myList = [1, 2, 3, 4, 5]

### Conditional looping
Used to loop until a condition is met

##### Examples:
```
while value < 10000:
    value = value ** 2


while account > 0:
    account -= 1000
```

### EXERCISE: Vacation Savings
Can you deposit 10 dollars into a new account until the price reaches 1000 dollars for a vacation?

### EXERCISE: Find Waldo
Can you look through a list of people until you find Waldo?

crowd = ['Tom', 'Shauna', 'Eric', 'Pete', 'Jerome', 'Erin', 'Destiny', 'James', 'Waldo', 'Jason', 'Jamie']

# 3. Advanced Looping

### Loops within Loops
Used to run loops of code within an already existing loop of code

##### Examples:
```
for year in years:
    for month in months:
        print(month, year)


while account > 0:
    for withdraw in withdraws:
        account -= withdraw
```

### EXERCISE: Random Name Generator
Can you print every combination of first and last names for the lists below?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

### Looping with IF statements
Using if statements within loops to add complexity to the loop logic

##### Examples:
```
for x in range(10):
    if (x % 2) == 0:
        print('even')
    else:
        print('odd')


for person in crowd:
    if person == "Waldo":
        print("Him!")
    else:
        print("Not him.")
```

### EXERCISE: Gratuity Calculator
Can you determine the amount of gratuity to pay per bill based on service level? 

"bad" : 10%
<br>
"okay" : 15%
<br>
"good" : 18%
<br>
"great" : 22%
<br> 
<br>
service = ["good", "bad", "great", "good", "okay", "great", "bad"]
<br>
bills = [34.62, 63.73, 52.73, 83.63, 35.62, 25.67, 97.83]

### EXERCISE: Fraud Detection
Can you identify potentially fraudulent purchases in the purchases below as anything over 5000 dollars and not expected.

purchases = [234.63, 2.53, 642.63, 6424.52, 532.53, 64.23, 23465.35, 25.35, 7564.75, 75.34, 5747.33]
<br>
expected = [True, True, False, False, True, True, True, False, False, True, True]