# 1. For Loop

### Looping Through List
Using a for loop to iterate through a list will allow you to perform code on each element within the list

##### Examples:
`
for x in [0, 1, 2, 3, 4]:
    print(x)
`
<br>   
<br>
`
for x in myList:
    print(x)
`

In [4]:
for x in [0, 1, 2, 3, 4]:
    print(x)
    
print('\n')

myList = [0, 1, 2, 3, 4]
for x in myList:
    print(x)

0
1
2
3
4


0
1
2
3
4

### EXERCISE: List Squared by Value
Can you print the squared value for each element in the list?

myList = [1, 2, 3, 4, 5]

In [12]:
myList = [1, 2, 3, 4, 5]

for x in myList:
    print(x**2)

1
4
9
16
25

### EXERCISE: Calculating Gratuity
Can you calculate the amount of tip to leave for each bill using 18%?

bills = [102.24, 20.54, 15.20, 40.65, 78.93]

In [27]:
bills = [102.24, 20.54, 15.20, 40.65, 78.93]

for bill in bills:
    print(bill*.18)

18.4032
3.6971999999999996
2.7359999999999998
7.316999999999999
14.207400000000002

### Looping Using Index
Looping using index values allow you to reference a location in a list instead of its value

`
for x in range(5):
    print(myList[x])
`
<br>
<br>
<br>
`
for x in range(len(myList)):
    print(myList[x])
`

In [9]:
myList = [1, 2, 3, 4, 5]

for x in range(5):
    print(myList[x])

print('\n')

for x in range(len(myList)):
    print(myList[x])

1
2
3
4
5


1
2
3
4
5

### EXERCISE: List Squared
Can you print the squared value for each element in the list using its index?

myList = [1, 2, 3, 4, 5]

In [11]:
for x in range(len(myList)):
    print(myList[x] ** 2)

1
4
9
16
25

### EXERCISE: Calculating Gratuity
Can you calculate the amount of tip to leave for each bill using 18% by referencing the list's index values?

bills = [102.24, 20.54, 15.20, 40.65, 78.93]

In [28]:
bills = [102.24, 20.54, 15.20, 40.65, 78.93]

for x in range(len(bills)):
    print(bills[x]*.18)

18.4032
3.6971999999999996
2.7359999999999998
7.316999999999999
14.207400000000002

### EXERCISE: Combining names
Can you print out the persons full name by looping through the lists?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

In [16]:
firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

for x in range(len(firstNames)):
    print(firstNames[x], lastNames[x])

Tom Michaels
Phil Peters
Tyson Blake
Karen Jones
Sue Williams

### EXERCISE: Summing Two Lists
Can you add the values of both lists by looping using its index?

list1 = [1, 2, 3, 4, 5]
<br>
list2 = [2, 4, 6, 8, 10]

In [14]:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4, 6, 8, 10]

for x in range(len(list1)):
    print(list1[x] + list2[x])

3
6
9
12
15

### EXERCISE: Calculating Stock Value
Can you print the stock name and total amount invested (shares*price) in each stock?

stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
<br>
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
<br>
shares = [2, 1, 4, 6, 2]

In [23]:
stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
shares = [2, 1, 4, 6, 2]

for x in range(len(stocks)):
    print(stocks[x], prices[x]*shares[x])

AAPL 265.22
TSLA 765.25
GOOG 308.84
META 1254.1200000000001
AMZN 681.12

### EXERCISE: Calculating Stock Value (Part II)
Using what you did in the previous exercise, can you calculate your total account value from your individual stocks?

stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
<br>
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
<br>
shares = [2, 1, 4, 6, 2]

In [26]:
stocks = ["AAPL", "TSLA", "GOOG", "META", "AMZN"]
prices = [132.61, 765.25, 77.21, 209.02, 340.56]
shares = [2, 1, 4, 6, 2]
account = 0

for x in range(len(stocks)):
    total = prices[x]*shares[x]
    print(stocks[x], total)
    account += total
    
print('TOTAL ACCOUNT BALANCE:', account)

AAPL 265.22
TSLA 765.25
GOOG 308.84
META 1254.1200000000001
AMZN 681.12
TOTAL ACCOUNT BALANCE: 3274.55

### Creating New Lists using Looping
By using the list's append function, you can create new lists using a for loop

`
for x in range(5):
    myList.append(x)
`
<br>
<br>
<br>
`
for x in list1:
    list2.append(x**2)
`

In [20]:
myList = []

for x in range(5):
    myList.append(x)

print(myList)


list1 = [1, 2, 3, 4, 5]
list2 = []

for x in list1:
    list2.append(x**2)
    
print(list2)

[0, 1, 2, 3, 4]
[1, 4, 9, 16, 25]

### EXERCISE: Combining names
Can you create a new list of complete names by combing first and last names?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

In [21]:
firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

completeNames = []

for x in range(len(firstNames)):
    completeNames.append(firstNames[x] + " " + lastNames[x])
    
print(completeNames)

['Tom Michaels', 'Phil Peters', 'Tyson Blake', 'Karen Jones', 'Sue Williams']

### EXERCISE: Calculating Total Bill
Can you create a new list that stores the total bill amounts by adding the base cost with the tip amount?

bills = [12.55, 65.61, 20.53, 13.56, 40.65]
<br>
tips = [2.53, 12.65, 4.62, 4.25, 9.21]

In [29]:
bills = [12.55, 65.61, 20.53, 13.56, 40.65]
tips = [2.53, 12.65, 4.62, 4.25, 9.21]
totals = []

for x in range(len(bills)):
    totals.append(bills[x] + tips[x])
    
print(totals)

[15.08, 78.26, 25.150000000000002, 17.810000000000002, 49.86]

### EXERCISE: Competition Scoring
Can you create a new list with the average score the judges gave each competitor in the coding competition?

judge1 = [3, 4, 5, 2, 3]
<br>
judge2 = [4, 2, 5, 1, 2]
<br>
judge3 = [5, 2, 4, 1, 1]
<br>
judge4 = [4, 3, 5, 1, 3]

In [31]:
judge1 = [3, 4, 5, 2, 3]
judge2 = [4, 2, 5, 1, 2]
judge3 = [5, 2, 4, 1, 1]
judge4 = [4, 3, 5, 1, 3]

scores = []

for x in range(len(judge1)):
    scores.append( (judge1[x]+judge2[x]+judge3[x]+judge4[x])/4 )
    
print(scores)

[4.0, 2.75, 4.75, 1.25, 2.25]

# 2. While Loop

### Discrete Looping
Used to loop a predetermined amount of times

##### Examples:
`
i = 0
while i<10:
    print(i)
    i = i+1
`
<br>
<br>
<br>
`
i=10
while i>=0:
    print(i)
    i -= 1
`

In [36]:
i = 0
while i<10:
    print(i)
    i += 1

print('\n')

i=10
while i>0:
    print(i)
    i -= 1

0
1
2
3
4
5
6
7
8
9


10
9
8
7
6
5
4
3
2
1

### EXERCISE: Print a List
Can you print each value in the list using a while loop?

myList = [1, 2, 3, 4, 5]

In [38]:
myList = [1, 2, 3, 4, 5]

i = 0

while i<len(myList):
    print(myList[i])
    i+=1

1
2
3
4
5

### EXERCISE: Print a List in Reverse
Can you print each value in the list in reverse using a while loop?

myList = [1, 2, 3, 4, 5]

In [41]:
myList = [1, 2, 3, 4, 5]

i = len(myList)-1

while i>=0:
    print(myList[i])
    i-=1

5
4
3
2
1

### Conditional looping
Used to loop until a condition is met

##### Examples:
`
while value < 10000:
    value = value ** 2
`
<br>
<br>
<br>
`
while account > 0:
    account -= 1000
`

In [45]:
value = 10

while value < 10000:
    value = value ** 2
    print(value)


account = 5000

while account > 0:
    account -= 1000
print(account)

100
10000
0

### EXERCISE: Vacation Savings
Can you deposit 10 dollars into a new account until the price reaches 1000 dollars for a vacation?

In [47]:
account = 0

while account < 1000:
    account += 10

print(account)

1000

### EXERCISE: Find Waldo
Can you look through a list of people until you find Waldo?

crowd = ['Tom', 'Shauna', 'Eric', 'Pete', 'Jerome', 'Erin', 'Destiny', 'James', 'Waldo', 'Jason', 'Jamie']

In [48]:
crowd = ['Tom', 'Shauna', 'Eric', 'Pete', 'Jerome', 'Erin', 'Destiny', 'James', 'Waldo', 'Jason', 'Jamie']

i=0

while crowd[i] != "Waldo":
    i += 1

print('Found Him!')

Found Him!

# 3. Advanced Looping

### Loops within Loops
Used to run loops of code within an already existing loop of code

##### Examples:
`
for year in years:
    for month in months:
        print(month, year)
`
<br>
<br>
<br>
`
while account > 0:
    for withdraw in withdraws:
        account -= withdraw
`

In [49]:
years = [2019, 2020, 2021]
months = ["Jan", "Feb", "Mar"]

for year in years:
    for month in months:
        print(month, year)


account = 1000
withdraws = [50, 50, 100]

while account > 0:
    for withdraw in withdraws:
        account -= withdraw
    print(account)

Jan 2019
Feb 2019
Mar 2019
Jan 2020
Feb 2020
Mar 2020
Jan 2021
Feb 2021
Mar 2021
800
600
400
200
0

### EXERCISE: Random Name Generator
Can you print every combination of first and last names for the lists below?

firstNames = ["Tom", "Phil", "Tyson", "Karen", "Sue"]
<br>
lastNames = ["Michaels", "Peters", "Blake", "Jones", "Williams"]

In [50]:
for first in firstNames:
    for last in lastNames:
        print(first, last)

Tom Michaels
Tom Peters
Tom Blake
Tom Jones
Tom Williams
Phil Michaels
Phil Peters
Phil Blake
Phil Jones
Phil Williams
Tyson Michaels
Tyson Peters
Tyson Blake
Tyson Jones
Tyson Williams
Karen Michaels
Karen Peters
Karen Blake
Karen Jones
Karen Williams
Sue Michaels
Sue Peters
Sue Blake
Sue Jones
Sue Williams

### Looping with IF statements
Using if statements within loops to add complexity to the loop logic

##### Examples:
`
for x in range(10):
    if (x % 2) == 0:
        print('even')
    else:
        print('odd')
`
<br>
<br>
<br>
`
for person in crowd:
    if person == "Waldo":
        print("Him!")
    else:
        print("Not him.")
`

In [54]:
for x in range(10):
    if (x % 2) == 0:
        print('even')
    else:
        print('odd')

print('\n')
        
crowd = ['Tom', 'Shauna', 'Eric', 'Destiny', 'James', 'Waldo', 'Jason', 'Jamie']

for person in crowd:
    if person == "Waldo":
        print("Him!")
    else:
        print("Not him.")

even
odd
even
odd
even
odd
even
odd
even
odd


Not him.
Not him.
Not him.
Not him.
Not him.
Him!
Not him.
Not him.

### EXERCISE: Gratuity Calculator
Can you determine the amount of gratuity to pay per bill based on service level? 

"bad" : 10%
<br>
"okay" : 15%
<br>
"good" : 18%
<br>
"great" : 22%
<br> 
<br>
service = ["good", "bad", "great", "good", "okay", "great", "bad"]
<br>
bills = [34.62, 63.73, 52.73, 83.63, 35.62, 25.67, 97.83]

In [55]:
service = ["good", "bad", "great", "good", "okay", "great", "bad"]
bills = [34.62, 63.73, 52.73, 83.63, 35.62, 25.67, 97.83]

for x in range(len(bills)):
    if service[x] == "bad":
        print(bills[x] * .1)
    elif service[x] == "okay":
        print(bills[x] * .15)
    elif service[x] == "good":
        print(bills[x] * .18)
    elif service[x] == "great":
        print(bills[x] * .22)
    else:
        print(bills[x] * .18)

6.231599999999999
6.373
11.6006
15.053399999999998
5.342999999999999
5.6474
9.783000000000001

### EXERCISE: Fraud Detection
Can you identify potentially fraudulent purchases in the purchases below as anything over 5000 dollars and not expected.

purchases = [234.63, 2.53, 642.63, 6424.52, 532.53, 64.23, 23465.35, 25.35, 7564.75, 75.34, 5747.33]
<br>
expected = [True, True, False, False, True, True, True, False, False, True, True]

In [56]:
purchases = [234.63, 2.53, 642.63, 6424.52, 532.53, 64.23, 23465.35, 25.35, 7564.75, 75.34, 5747.33]
expected = [True, True, False, False, True, True, True, False, False, True, True]

for x in range(len(purchases)):
    if purchases[x] > 5000 and expected[x] == False:
        print("Potential Fraud")
    else:
        print("Seems Legit")

Seems Legit
Seems Legit
Seems Legit
Potential Fraud
Seems Legit
Seems Legit
Seems Legit
Seems Legit
Potential Fraud
Seems Legit
Seems Legit